{# This field accepts the following parameters:
 #   - parameters:
 #      - alias         (string)        Defaults to "original" (e.g. image originally uploaded)
 #      - class         (string)        Allows setting CSS custom class name for the figure element
 #      - width         (int|string)    Allows forcing width of the image in the HTML
 #      - height        (int|string)    Allows forcing height of the image in the HTML
 #      - exact         (bool)          Allows forcing height and width of the 'alias' to the figure element
 #      - caption       (string)        Allows adding a caption to the figure element
 #      - alt           (string)        Allows adding an alternative text on img elements
 #      - link          (object)        Allows setting a link on the figure element
 #          - href      (string)
 #          - title     (string)
 #          - target    (string)
 #}

{% block ezimage_field %}
{% spaceless %}
    {% if not ez_is_field_empty( content, field ) %}
        {% set exact_fit = parameters.exact ?? parameters.width ?? parameters.height ?? false %}
        {% set image_alias = ez_image_alias( field, versionInfo, parameters.alias ?? 'original' ) %}
        {% set placeholder = ez_image_alias( field, versionInfo, 'ez_progressive_placeholder' ) %}
        {% set src = image_alias ? asset( image_alias.uri ) : '//:0' %}
        {% set attributes = {
            class: "ez-progressive #{attr.class ?? ''} #{parameters.class ?? ''}" | trim,
            style: "height: #{parameters.height ?? image_alias.height}px; width: #{parameters.width ?? image_alias.width}px",
        } %}

        <figure class="{{ attributes.class | e('html_attr') }}" {% if exact_fit %}style="{{ attributes.style | e('html_attr') }}"{% endif %}>
            {% if parameters.link ?? {} is not empty %}
            <a
                    href="{{ parameters.link.href ?? '/' }}"
                    {% if parameters.link.title is defined %} title="{{ parameters.link.title | e('html_attr') }}"{% endif %}
                    {% if parameters.link.target is defined %} target="{{ parameters.link.target | e('html_attr') }}"{% endif %}
                    {% if parameters.link.target is defined and parameters.link.target == '_blank' %} rel="noreferrer noopener"{% endif %}
            >
                {% endif %}

                <img
                        class="ez-progressive-placeholder"
                        src="{{- 'data:' ~ placeholder.mimeType ~ ';base64,' ~ placeholder.info.base64 -}}"
                        alt="{{ parameters.alt ?? field.value.alternativeText | e('html_attr') }}"
                />
                <img
                        class="ez-progressive-image"
                        src="{{ image_alias.uri }}"
                        {% if parameters.src ?? {} is not empty %}cd
                        alt="{{ parameters.alt ?? field.value.alternativeText | e('html_attr') }}"
                        onload="this.style.opacity = 1; this.previousElementSibling.style.opacity = 0;"
                />

                {% if parameters.caption ?? '' %}
                    <figcaption >{{ parameters.caption }}</figcaption>
                {% endif %}


                {% if parameters.link ?? {} is not empty %}
            </a>
            {% endif %}
        </figure>
    {% endif %}
{% endspaceless %}
{% endblock %}
